<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1><%= article.name %></h1>
        <p>投稿者：<%= article.author %></p>
        <p>執筆日時：<%= article.date %></p>
        <p>タグ（種類）：<%= article.tag %></p>
        <hr class="mt-3 mb-3">
        <div>
            <%- article.content %>
        </div>
      </div>
      <div class="col-md-4">
        <h3>サイドバー</h3>
        <%- article.sidebar %>
      </div>
    </div>
  </div>
  